<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * module
 *
 * @copyright
 * @author    sushynskyiar@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Blog_News" setup_version="0.0.2">
        <sequence>
            <module name="Magento_Store"/>
        </sequence>
    </module>
</config>
